html {
    height: 100%;
    width: 100%;
    font-family: "Rockwell";
    color: black;
}

body {
    min-height: 100%;
    min-width: 100%;
    background: #4b79a1;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283e51, #4b79a1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
    font-size: 7px;
    background: #114357;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f29492, #114357);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f29492, #114357);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
}

#list {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
}